.header {
 margin-bottom: 20px;
}

.logo {
    display: flex;
    justify-content: space-around;
}

.menu {
    display: flex;
    align-items: flex-end;
    font-size: 18px;
   align-items: center;

}

.menu-item {
    margin-right: 12px;
}

.menu-item:hover {
    color: blueviolet;
}

.content-contener {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: rgb(255,255,255);
    background: linear-gradient(151deg, rgba(255,255,255,1) 0%, rgba(205,235,167,1) 100%);
    padding: 100px;
}

.content-left {
    margin-right: 70px;
}
.content-header {
    font-size: 50px;
    font-weight: 600;
margin-bottom: 30px;

}

.content-text {
    font-size: 25px;
}