.header {

}

.logo {
    display: flex;
    justify-content: space-around;
}

.menu {
    display: flex;
    align-items: flex-end;
    font-size: 18px;
   align-items: center;
}

.menu-item {
    margin-right: 12px;
}

.menu-item:hover {
    color: blueviolet;
}

